.wrapper {
  display: flex;
  align-items: center;
}

.authButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.loginLink {
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  background-color: var(--opacity-white-10);
  height: 35px;
  border-radius: 8px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: opacity 0.3s ease;
}

/* .loginLink:hover {
  opacity: 0.8;
} */

.authButtons .registerBtn {
  background-color: var(--color-white);
  color: var(--color-neutral-darkest);
  font-weight: 500;
  font-size: 18px;
  padding: 4px 10px;
  border-radius: 8px;
  max-width: 113px;
  height: 35px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* .registerBtn:hover {
  background-color: #f0f0f0;
} */

/* Стилі для залогіненого юзера */
.userContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profileLink {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.avatarCircle {
  width: 35px;
  height: 35px;
  background-color: #4f46e5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoutButton {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: var(--color-white);
  padding: 6px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s;
}

.logoutButton:hover {
  background: rgba(255, 255, 255, 0.1);
}
