.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  height: 100%;
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 24px;
  padding: 20px;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    image-set(
      url('/sections/Join/mob/join-background.webp') 1x,
      url('/sections/Join/mob/join-background@2x.webp') 2x
    );
  background-size: cover;
  background-position: center;
}

.sectionHeading {
  font-size: 26px;
  color: var(--color-white);
  padding: 0;
  margin: 0;
}

.sectionParagraph {
  color: var(--color-white);
  margin: 0;
}

.registerBtn {
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-white);
  background-color: var(--color-royal-blue);

  width: 100%;
  height: 48px;
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  margin-top: 4px;
  padding: 12px 0;

  transition: 
    color 300ms ease-in-out,
    background-color 300ms ease-in-out;
}

.registerBtn:hover,
.registerBtn:focus {
  color: var(--color-scheme-2-text);
  background-color: var(--color-royal-blue-lighter);
}

.registerBtn:active {
  color: var(--color-scheme-2-text);
  background-color: var(--color-royal-blue-light);
}

@media screen and (min-width: 768px) {
  .contentContainer {
    padding: 32px;
    gap: 8px;

    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      image-set(
        url('/sections/Join/tab/join-background-tablet.webp') 1x,
        url('/sections/Join/tab/join-background-tablet@2x.webp') 1x
      );
  }
  .sectionHeading {
    max-width: 550px;
    font-size: 32px;
  }
  .sectionParagraph {
    max-width: 558px;
  }
  .registerBtn {
    margin-top: 8px;
    max-width: 153px;
  }
}

@media screen and (min-width: 1440px) {
  .contentContainer {
    gap: 24px;
    padding: 64px;

    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      image-set(
        url('/sections/Join/desk/join-background-desktop.webp') 1x,
        url('/sections/Join/desk/join-background-desktop.webp') 2x
      );
  }
  .sectionHeading {
    font-size: 48px;
  }
  .registerBtn {
    max-width: 169px;
    font-size: 18px;
    margin-top: 8px;
  }
}
