.simpleSelect {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  transition: all 0.2s ease-in-out;
  font-family: var(--font-family);
  font-weight: 400;
}
.simpleSelect:hover {
  border-color: var(--color-royal-blue);
}
.simpleSelect.active {
  border: 1px solid var(--color-royal-blue-light);
  border-radius: 8px 8px 0 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  width: 12px;
  height: 7px;
  transition: transform 0.3s;
  position: absolute;
  top: 18px;
  right: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.arrow svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.simpleSelect.active .arrow {
  transform: rotate(180deg);
}
.options {
  position: absolute;
  top: 100%;
  left: -0.5px;
  right: 0;
  padding: 12px 8px;
  width: calc(100% + 1.5px);
  display: none;
  background: white;
  border-radius: 0 0 8px 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  border: 1px solid var(--color-royal-blue-light);
}

.simpleSelect.active .options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.option {
  border-radius: 4px;
  padding: 4px 8px;
  font-family: var(--font-family);
  font-weight: 400;
}
.option:hover {
  background: var(--color-neutral-lightest);
}
.placeholder {
  color: var(--color-neutral-dark);
}
@media screen and (min-width: 320px) {
  .header {
    padding: 8px;
  }
  .simpleSelect {
    font-size: 14px;
  }
  .option {
    padding: 4px 8px;
    font-size: 14px;
  }
}
@media screen and (min-width: 375px) {
  .simpleSelect {
    font-size: 16px;
  }
  .option {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
  .simpleSelect {
    font-size: 18px;
  }
  .header {
    padding: 10px;
  }
  .option {
    padding: 4px 8px;

    font-size: 18px;
  }
}
