.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageTitle,
.messageError {
  margin: 0;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;
  font-weight: 500;
  font-size: 18px;
}

.link:hover,
.link:focus {
  border: 1px solid var(--color-scheme-1-text);
}

.link:active {
  border: 1px solid var(--color-scheme-1-text);
  background-color: var(--color-neutral-lighter);
}