/* .container {
  position: relative;
  width: 100%;
} */

/* .bgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.bgImage {
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52));
}

.contentLayer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  z-index: 2;
} */
