.menu {
  position: fixed;
  inset: 0;
  background-color: var(--color-royal-blue-lightest);
  z-index: 1000;
}

.menu :global(.container) {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  transition: all 0.3s ease;
}

.closeBtn {
  border: 1px solid var(--color-scheme-2-border);
  border-radius: 8px;
  padding: 4px;
  width: 32px;
  height: 32px;
  background-color: var(--color-scheme-2-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.grayButton,
.blueButton {
  background-color: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--color-scheme-2-border);
  border-radius: 8px;
  padding: 4px 10px;
  max-width: 335px;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.grayButton:hover,
.grayButton:focus {
  background-color: var(--color-royal-blue);
  color: var(--color-white);
}

.grayButton:active {
  background-color: var(--color-royal-blue-darker);
  color: var(--color-white);
}

.blueButton {
  background: var(--color-royal-blue);
  border: none;
  color: var(--color-white);
}

.blueButton:hover,
.blueButton:focus {
  background-color: var(--color-royal-blue-lighter);
  border: 1px solid var(--color-royal-blue);
  color: var(--color-scheme-2-text);
}

.blueButton:active {
  background-color: var(--color-royal-blue-light);
}

.guestContent,
.loggedInContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

/* Секція користувача */
.userRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.avatarPlaceholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userName {
  font-size: 12px;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoutIconBtn {
  background: none;
  border: none;
  border-left: 1px solid var(--color-scheme-1-border);
  height: 29px;
  cursor: pointer;
  padding: 4px 4px 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoIcon {
  fill: none;
}

.iconClose,
.iconLogout {
  fill: var(--color-neutral-darkest);
  stroke-width: 1px;
  stroke: var(--color-scheme-1-text);
}
