.menu {
  position: fixed;
  inset: 0;
  background-color: var(--color-white);
  z-index: 1000;
}

.menu :global(.container) {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  transition: all 0.3s ease;
}

.closeBtn {
  border: 1px solid var(--color-scheme-2-border);
  border-radius: 8px;
  padding: 4px;
  width: 32px;
  height: 32px;
  background-color: var(--color-scheme-2-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.navLink {
  text-decoration: none;
  color: currentColor;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  transition: color 0.3s ease;
}

.navLink:hover,
.navLink:focus {
  border: 1px solid var(--color-scheme-1-text);
}

.navLink:active {
  background: var(--color-neutral-lighter);
}

.grayButton,
.blueButton {
  background-color: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--color-scheme-2-border);
  border-radius: 8px;
  padding: 4px 10px;
  max-width: 335px;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.grayButton:hover,
.grayButton:focus {
  background-color: var(--color-royal-blue);
  color: var(--color-white);
}

.grayButton:active {
  background-color: var(--color-royal-blue-darker);
  color: var(--color-white);
}

.blueButton {
  background: var(--color-royal-blue);
  border: none;
  color: var(--color-white);
}

.blueButton:hover,
.blueButton:focus {
  background-color: var(--color-royal-blue-lighter);
  border: 1px solid var(--color-royal-blue);
  color: var(--color-scheme-2-text);
}

.blueButton:active {
  background-color: var(--color-royal-blue-light);
}

/* .footer {
  width: 100%;
  padding-bottom: 40px;
} */

.guestContent,
.loggedInContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

/* Секція користувача */
.userRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

/* .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e5e7eb;
  overflow: hidden;
} */

.avatarPlaceholder {
  width: 100%;
  height: 100%;
  background: url('https://ac.goit.global/fullstack/react/default-avatar.jpg')
    no-repeat center;
  background-size: 60%;
}

/* .userName {
  font-weight: 500;
  color: #374151;
} */

.logoutIconBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.logoIcon {
  fill: none;
}

.iconClose,
.iconLogout {
  fill: var(--color-neutral-darkest);
  stroke-width: 1px;
  stroke: var(--color-scheme-1-text);
}
