.navLink {
  text-decoration: none;
  color: currentColor;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  transition: color 0.3s ease;
}

.navLink:hover,
.navLink:focus-visible {
  border-color: var(--color-scheme-1-text);
}

.navLink:active {
  background: var(--color-neutral-lighter);
}

.navLinkLight:hover,
.navLinkLight:focus-visible {
  border-color: var(--color-white);
}
