.page {
  padding: 40px 0 80px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
}

.title {
  font-size: 56px;
  line-height: 1;
  margin: 0 0 24px;
}

.headerBlock {
  margin-bottom: 24px;
}

.tabs {
  margin-bottom: 24px;
}

.content {
  min-height: 300px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 229px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--opacity-neutral-darkest-5);
    border: 1px solid var(--opacity-neutral-darkest-15);
    transition:
            background-color 300ms ease-in-out,
            color 300ms ease-in-out;
}

.link:hover,
.link:focus {
    background-color: var(--color-royal-blue);
    color: var(--color-white);
}

.button {
    height: 48px;
    width: 48px;
    background-color: var(--opacity-neutral-darkest-5);
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--opacity-neutral-darkest-15);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
            background-color 300ms ease-in-out,
            color 300ms ease-in-out,
            opacity 300ms ease-in-out
}

.button:hover,
.button:focus {
    background-color: var(--color-royal-blue);
    color: var(--color-white);
}

.button:active {
    background-color: var(--color-royal-blue-darker);
    color: var(--color-white);
}

.button:disabled {
    opacity: 0.3;
}