.logoLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 156px;
  height: 40px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3px;
}

.logoIcon {
  display: block;
}

.logoText {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: currentColor;
}
