.storiesSection {
    max-width: 375px;
    margin: 0 auto;
    padding: 64px 20px;
}

.sectionTitle {
    margin: 0 0 24 0;
    letter-spacing: -0.01em;
}

.articleList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.articleItem {
    width: 335px;
    height: 575px;
}

.articleItem:nth-child(4) {
    display: none;
}

.articlePic {
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    margin: 0;
    display: block;
}

.articleContent {
    background-color: var(--color-royal-blue-lighter);
    border-radius: 0 0 16px 16px;
    margin: 0;
    padding: 24px;
}

.articleCategory {
    margin: 0 0 8px 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
}

.articleTitle {
    margin: 0 0 8px 0;
    font-family: "Nunito Sans", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.5;
    display: -webkit-box;
    height: 2.8em;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
}

.articleTxt {
    margin: 0 0 24px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Nunito Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}

.articleMeta {
    display: flex;
    gap: 16px;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.name {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
}

.data {
    margin: 0 0 24px 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.icon {
    width: 10px;
    height: 12px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 229px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--opacity-neutral-darkest-5);
    border: 1px solid var(--opacity-neutral-darkest-15);
}

.button {
    height: 48px;
    width: 48px;
    background-color: var(--opacity-neutral-darkest-5);
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--opacity-neutral-darkest-15);
}

.bigIcon {
    width: 16px;
    height: 18px;
}

.seeMore {
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-royal-blue);
    color: var(--color-white);
    display: none;
}

@media (min-width: 768px) {
    .storiesSection {
        padding: 64px 32px;
        max-width: 768px;
    }

    .sectionTitle {
        font-size: 44px;
    }

    .articleList {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }

    .articleItem {
        width: 340px;
        height: 578px;
    }

    .articleItem:nth-child(4) {
        display: inherit;
    }

    .articlePic {
        width: 340px;
        height: 226px;
    }

    .link {
        width: 234px;
    }

    .seeMore {
        display: flex;
    }
}

@media (min-width: 1440px) {
    .storiesSection {
        padding: 72px 64px;
        max-width: 1440px;
    }

    .sectionTitle {
        font-size: 52px;
        margin-bottom: 40px;
    }

    .articleList {
        margin-bottom: 40px;
    }

    .articleItem {
        width: 421px;
        height: 678px;
    }

    .articlePic {
        width: 421px;
        height: 280px;
    }

    .articleContent {
        width: 421px;
    }

    .articleCategory {
        font-family: "Nunito Sans", sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
    }

    .articleTitle {
        font-family: "Nunito Sans", sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.5;
    }

    .articleContent {
        font-family: "Nunito Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.5;
    }

    .articleItem:nth-child(4) {
        display: none;
    }

    .name {
        font-size: 16px;
    }

    .data {
        font-size: 16px;
    }

    .icon {
        width: 12px;
        height: 14px;
    }

    .link {
        width: 315px
    }
}

.msg {
    display: flex;
    justify-self: center;
}