.layout {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
}

.header {
  padding: 16px 0;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: center;
}

.copyright {
  color: currentColor;
  padding: 27px 0;
}
