@media screen and (min-width: 320px) {
  .createStorySection {
    padding: 28px 0 36px;
  }
}
@media screen and (min-width: 375px) {
  .createStorySection {
    padding: 32px 0 64px;
  }
}
@media screen and (min-width: 768px) {
  .createStorySection {
    padding: 48px 0 72px;
  }
}
@media screen and (min-width: 1440px) {
  .createStorySection {
    padding: 48px 0 72px;
  }
}
