.createStoryTitle {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.01em;
}
@media screen and (min-width: 320px) {
  .createStoryTitle {
    font-size: 28px;
    padding: 28px 0 2px;
  }
}
@media screen and (min-width: 375px) {
  .createStoryTitle {
    font-size: 32px;
    padding: 32px 0 8px;
  }
}
@media screen and (min-width: 768px) {
  .createStoryTitle {
    font-size: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .createStoryTitle {
    font-size: 56px;
    padding: 48px 0 24px;
  }
}
