/* Базовые стили (Mobile first) */
.saveContainer {
  border-radius: 24px;
  padding: 32px 20px;
  width: 335px;
  background: var(--color-scheme-1-foreground);
  margin-bottom: 32px;
}

.titleSaveContainer {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}

.textSaveContainer {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}

.buttonSaveContainer {
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding: 6px 12px;
  width: 295px;
  height: 48px;
  background: var(--color-royal-blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
}

/*  Кнопка "Зберегти" */
.buttonSaveContainer:hover,
.buttonSaveContainer:focus {
  background-color: var(--color-royal-blue-lighter);
  color: var(--color-scheme-2-text);
}

.buttonSaveContainer:active {
  background-color: var(--color-royal-blue-light);
  color: var(--color-scheme-2-text);
}

.buttonSaveContainer:disabled {
  background-color: var(--color-royal-blue);
  color: var(--color-white);
  opacity: 0.3;
}

/* Tablet (768px+) */
@media (min-width: 768px) {
  .saveContainer {
    padding: 32px;
    width: 418px;
  }
  .textSaveContainer,
  .buttonSaveContainer {
    width: 354px;
  }
}

/* Desktop (1440px+) */
@media (min-width: 1440px) {
  .saveContainer {
    display: inline-block;
    width: 418px;
  }
  .titleSaveContainer {
    font-size: 26px;
  }
  .textSaveContainer {
    font-size: 18px;
  }
  .buttonSaveContainer {
    font-size: 18px;
  }
}
