/* ── Base (mobile від 320px) ── */

/* ── Intro блок ── */
.intro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 64px;
}

.description {
  line-height: 150%;
}

/* ── Features ── */
.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon {
  width: 48px;
  height: 48px;
  color: var(--color-scheme-2-text);
  flex-shrink: 0;
}

.featureTitle {
  margin: 0;
  padding: 0;
}

.featureText {
  margin: 0;
  padding: 0;
  line-height: 150%;
}

/* ── Tablet (768px+) ── */
@media (min-width: 768px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    gap: 24px;
    margin-bottom: 64px;
  }
  .features {
    grid-template-columns: repeat(3, 1fr);

    gap: 32px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .featureText {
    font-size: 16px;
  }
  .description {
    padding-top: 8px;
  }
}

/* ── Desktop (1440px+) ── */
@media (min-width: 1440px) {
  .intro {
    align-items: start;
    grid-template-columns: 755px 1fr;
    gap: 24px;
    margin-bottom: 64px;
  }

  .feature {
    gap: 24px;
  }

  .features {
    gap: 48px;
  }

  .icon {
    width: 48px;
    height: 48px;
  }

  .title {
    margin: 0;
    line-height: 120%;
  }

  .featureTitle {
    max-width: 755px;
    align-self: start;
  }

  .description {
    max-width: 533px;
    margin-top: 8px;
  }
}
